<nav>
    <header>
        <a href="/">Home </a> |
        <a href="/posts">Posts page</a> |
        <a href="/addnewpost">Add new post</a>
    </header>
</nav>
<style>
    header{
        position: relative;
        left: 40%;
        font-size: large;
    }
</style>