<!--usage 'how-to' in app.js:
app.use((req, res) => {
    res.status(404).render('404', { title: "This page does not exist."});
});
-->
<body>
    <%- include('./partials/header.ejs') %>
    
    <h1><%= title %></h1>

    <%- include('./partials/footer.ejs') %>
</body>
<style>
    body {
        background-color: #466bcf;
    }
</style>