<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=>, initial-scale=1.0">
<title> Create a post</title>

<body>

    
        <%- include('./partials/header.ejs') %>
    
        <h1>Create a post</h1>
        <br>
        <div class="create-post">
            <form action="/posts" method="POST">
                <label for="title">Post title:</label>
                <input type="text" id="title" name="title" required><br><br>
                <label for="body">Post body:</label>
                <input type="text" id="body" name="body" required><br><br>
                <label for="urllink"> URL link:</label>
                <input type="text" id="urllink" name="urllink"></textarea><br><br>
                <button>Submit</button>
            </form>
        </div>
        
            <%- include('./partials/footer.ejs') %>
        
</body>

</html>
<style scoped lang="scss">
    body {
        background-color: #466bcf;
    }

    div.create-post {
        background-color: #FFFFFF;
        text-align: center;
        position: absolute;
        left: 40%;
        top: 35%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        min-width: 250px;
        height: 220px;
        border-radius: 8px;
    }

    title {
        text-align: center;
        position: absolute;
        left: 40%;
        top: 35%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        min-width: 250px;
        height: 220px;
        border-radius: 8px;
    }

    input {
        width: 200px;
    }
</style>