<!--usage 'how-to' in app.js:
app.get('/', (req, res) => {
    res.render('index', { title: "Welcome!"});
});
-->

<body>
    <%- include('./partials/header.ejs') %>


        <h1>
            <%= title %>
        </h1>

       
            <%- include('./partials/footer.ejs') %>
        
</body>

<style>
    body {
        background-color: #466bcf;
    }
    h1 {
        position: relative;
        left: 38%;
    }
</style>