<!-- SETUP FROM PRACTICE SESSION
app.get('/posts', (req, res) => {
    let posts = [
        {title: "First post!", body: "Ya'harr mateys!"},
        {title: "Inspectorrr's Rrrrreview", body: "It be a fine codin'!"},
        {title: "Poseidon take ye!", body: "What? Ye be piratin' posts now?"},
        {title: "Wrrrong timeline?", body: "Yeeeeeeehaaarrrrrrrrrr!"},
        {title: "So, ye boy looked up peggin'..", body: "Wait, what're you doing with me pegleg?"},
        {title: "Did I miss a memo?", body: "Uhh.. What's up with all the pirate talk?"}
    ];
    res.render('posts', { posts: posts });
});
-->
<head>
    <link href="/src/public/style.css" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <div class="posts_list">
        <h2>All posts</h2>
        <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <h3 class="title">
                    <%= post.title %>
                </h3>
                <p class="body">
                    <%= post.body %>
                </p>
            <% }) %>
        <% } else { %>
            <h3 class="title">Arrrgh! The booty's been plundered!</h3>
        <% } %>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>